.block{

  font-size: 20px;

  .confirmation-message{
    background-color: #06A484;
    color:white;
    font-size: 40px;
    font-weight: bold;
    width: 60rem;
    height: 7rem;
    vertical-align: middle;
    text-align: center;
    padding-top: 2.5rem;
  }

  h3 {
    font-size: 30px;
  }

  p{
    margin-top: 20px;
  }
}

